<div id="popular" style=" opacity: 1;  position: relative;>
    <div>

        <div style="color:#E0E0E0;padding:20px">
            <h1 style="text-align:center">Çalışmalar</h1>

            <div class="grid-container">
                <div id="calisma">
                    <h3>HİKAYECİ</h3>
                    <p>Hikayeci, kullanıcının isteği doğrultusunda çeşitli konularda hikayeler oluşturabilen ve sonuçları çıktı olarak sunabilen bir yapay zeka destekli cihazdır. Kullanıcılar, Hikayeci'ye istedikleri hikaye türünü belirtebilir.</p>
                </div>
                <div>
                    <h3>İMAR VE ŞEHİRÇİLK</h3>
                    <p>İmar ve şehircilik uygulaması, şehirlerin planlama ve yapılaşma süreçlerini yöneten bir sistemdir, şehirlerin düzenli ve sürdürülebilir bir şekilde gelişmesine katkı sağlar.</p>
                </div>
                <div>
                    <h3>MÜZE VE ART</h3>
                    <p>Müzeler ve sanat, kültürel mirası sergileyerek ilham verir ve yeni düşüncelerin gelişmesine katkı sağlar. Bu alanlar, estetik deneyimlerin paylaşıldığı ve toplumun kültürel zenginliğinin artmasında önemli platformlardır.</p>
                </div>
                <div>
                    <h3>OYUN PROGRAMLAMA</h3>
                    <p>Oyunların yaratılması ve geliştirilmesi için kullanılan bir süreçtir. Bu süreçte, kodlama ve tasarım becerileri kullanılarak interaktif ve eğlenceli oyunlar oluşturulur.</p>
                </div>
                <div>
                    <h3>ROBOTİK KODLAMA</h3>
                    <p>Robotların hareket etmesi, görevleri yerine getirmesi ve etkileşimde bulunması için programların oluşturulmasıdır. Bu süreçte, öğrenciler ve meraklılar, programlama dilleri kullanarak robotlara talimatlar verir ve temel mantık becerilerini geliştirir.</p>
                </div>
                <div>
                    <h3>
                        SOSYAL MEDYA
                    </h3>
                    <p>Markaların veya bireylerin sosyal medya platformlarında varlık göstermek, içerik paylaşmak, etkileşim sağlamak ve takipçi kitlesini büyütmek için stratejiler oluşturması ve uygulamasını içerir. İçerik paylaşımı ve bilgi alışverişi gibi amaçlarla dijital platformlarda etkileşimde bulunmalarını sağlamak için Fanus Yazılım ekibi ile çalışıyoruz.</p>
                </div>
                <div>
                    <h3>
                        WEB SİTESİ
                    </h3>
                    <p>Fanus Yazılım, web sitesi yapımında uzmanlaşmış bir firma olarak müşterilerine özelleştirilebilir ve işlevsel web siteleri sunmaktadır. Fanus Yazılım'ın yetenekleri ve deneyimi, kullanıcı dostu tasarımların yanı sıra güçlü teknik özelliklerin birleşimini sunarak müşterilerine etkileyici web deneyimleri sağlamaktadır.</p>
                </div>
                <div>
                    <h3>
                        ZAMAN MAKİNESİ
                    </h3>
                    <p>Yapıtğım bir çalışma olan VR gözlük ile birlikte çalışan tarihi yerleri görmenizi sağlayan bir uygulama.</p>
                </div>
                <div>
                    <h3>
                        VR+
                    </h3>
                    <p>VR gözlük ile birlikte geliştirdiğimiz bir çok farklı uygulama ve içerik mevcut.</p>
                </div>
                <div>
                    <h3>
                        WHATSAPP TOPLU MESAJ
                    </h3>
                    <p>kullanıcı dostu ve şık tasarımıyla milyonlarca mesajı kısa sürede hedef kitlenize iletmek için ideal bir çözümdür.</p>
                </div>
                <div>
                    <h3>
                        E-TİCARET
                    </h3>
                    <p>Fanus Yazılım olarak, güvenilir ve piyasaya göre üstün hizmetler sunan firmayız. Müşteri odaklı çözümler, modern tasarım, güvenlik, kullanılabilirlik ve performans odaklı yaklaşımımızla başarıya giden yolda sizinle birlikte ilerliyoruz.</p>
                </div>
                <div>
                    <h3>
                        360 SANAL TUR
                    </h3>
                    <p>İstediğiniz yeri ordaymışsınız gibi sizi orya gönderiyoruz aslında hiç bir yere gitmeden her yere gidebilirsiniz.</p>
                </div>


            </div>

            <div class="button-container" style="text-align:center;padding:20px">
                <button onclick="loadMoreMovies()" class="load-more-button">
                    Daha Az Yükle
                </button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function loadMoreMovies() {
        $.ajax({
            url: '@Url.Action("Calismalar", "MainPage")',
            type: 'GET',
            success: function (response) {
                $('#popular').html(response);

            },
            error: function (xhr, status, error) {
                console.log('Yükleme hatası: ' + error);
            }
        });
    }
</script>