<style>
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 3 eşit sütun */
        gap: 10px; /* Sütunlar arasında boşluk */
    }

        .grid-container div {
            padding: 20px;
            text-align: center;
        }

</style>





<div style="color:#E0E0E0;padding:20px;opacity: 1; position: relative;border-top:5px solid black">
    <div id="icerik">

    <div class="grid-container" style="color:#E0E0E0">
        <div>
            <h1>İçerikler</h1>
            <div>
                    <h3><a href="~/MainPage/ZamanMakinası" style="text-decoration:none;color:#E0E0E0"> ZAMAN MAKİNESİ </a></h3>
                <p>
                    Siz de zamanda yolculağa çıkmak istmez misiniz?.

                </p>
            </div>
            <div>
                    <h3><a href="~/MainPage/Hikayeci" style="text-decoration:none;color:#E0E0E0"> HİKAYECİ </a></h3>
                <p>
                    Tek tuş ile hikayeler oluşturmak istemez misiniz?.

                </p>
            </div>
            <div>
                <h3>
                        <h3><a href="~/MainPage/Tur" style="text-decoration:none;color:#E0E0E0"> 360 SANAL TUR </a></h3>
                </h3>
                <p>
                    Milyonlarca kişeye aynı anda resimli ve videolu içerik atmak için ziyaret edebilirsiniz.

                </p>
            </div>
            <div>
                <h3>
                        <h3><a href="~/MainPage/Robotik" style="text-decoration:none;color:#E0E0E0"> ROBOTİK </a></h3>
                </h3>
                <p>
                    Eğtimlerimiz ile robotiği sizlere ve çocukulara sevdiriyoruz.

                </p>
            </div>
            <div>
                <h3>
                        <h3><a href="~/MainPage/OyunProgramlama" style="text-decoration:none;color:#E0E0E0"> OYUN PROGRAMLAMA </a></h3>
                </h3>
                <p>
                    Hayalinizdeki oyunları gerçekleştiriyoruz

                </p>
            </div>
            <div>
                <h3>
                        <h3><a href="~/MainPage/Website" style="text-decoration:none;color:#E0E0E0"> Website </a></h3>
                </h3>
                <p>
                    Fanus yazılım güvencesi ile işletmenize ya da size özel web siteleri yapalım.

                </p>
            </div>
            <div>
                <h3>

                        <h3><a href="~/MainPage/SosyalMedya" style="text-decoration:none;color:#E0E0E0"> SOSYAL MEDYA YÖNETİÇİLİĞİ </a></h3>
                    </h3>
                <p>
                    Sosyal medyanızı zirveye taşıyalım.

                </p>
            </div>
        </div>
        <div>
            <h1>Kullanıcılar</h1>
            <div>
                <h3>BELEDİYELER</h3>
                <p>Fanus yazılım ve ekibi ile toplu mesaj uygulamaları sayesinde tanıştık. Sınırsız kişe video ve görsel içerikli mesajlar atmamızı sağladılar.</p>
            </div>
            <div>
                <h3>İŞLETME SAHİBİ</h3>
                <p>Biz işletmemizin web sitesini tasarlamaları için Fanus yazıl ile çalıştık ve bu sayede firmamız daha çok tanınır hale geldi.</p>
            </div>
            <div>
                <h3>ROBOTİK DERSİ ALAN ÖĞRENCİMİZ</h3>
                <p>Fans yazılım sayesinde robotik kodlama ile ilgili çalışmalarım ve deneyimlerim odu sıkılmadan, eğlenerek bir ders ortamı sağladıkları için teşekür ediyorum.</p>
            </div>
            <div>
                <h3>MOBİL UYGULAMA</h3>
                <p>Hayilimdeki oyunu geliştirmemi sağladılar ve kendimi bu konuda daha çok ileriye taşımam için bana yardımcı oldular.</p>
            </div>
            <div>
                <h3>TOPLU MESAJ</h3>
                <p>İşletmemiz için ürün tanıtımı ve bilgilendirme yapabilmek için Fanus yazılımın geliştirdiği uygulamayı kullandık. Uygulama sayesinde hiç zorluk yaşamadan müşterilerimize resim içerikli mesajlar atabildik ve çok memnun kaldık.</p>
            </div>

        </div>

        </div>

    </div>


   
