@{
    ViewData["Title"] = "Robotik";
    Layout = "~/Views/Shared/DigerSayfaLayout.cshtml";
}

<style>
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 eşit sütun */
        gap: 10px; /* Sütunlar arasında boşluk */
    }

        .grid-container div {
            padding: 20px;
            text-align: center;
        }
</style>




<div id="popular " style=" opacity: 1; position: relative;">
    <div>
        <h1>Çalışmalar</h1>

        <div class="grid-container" style="color:#E0E0E0">
            <div>

                <img src="/Yeniklasör/as.png" style="width:750px;" />
            </div>
            <div>
                <div>
                    <h3>FANUS YAZLIM</h3>
                    <p>
                        Fanus Yazılım, Bursa merkezli bir yazılım şirketidir ve robotik kodlama alanında uzmanlaşmıştır. Şirket, Malatya ve Bursa'da çocuklara robotik kodlama eğitimi veren projeler yürütmektedir

                    </p>
                </div>
                <div>
                    <h3>ROBOTİK EĞİTİM</h3>
                    <p>
                        Fanus Yazılım'ın çocuklara özel olarak tasarladığı robotik kodlama eğitim programları, çocukların yaratıcılıklarını geliştirmelerine, problem çözme becerilerini artırmalarına ve teknolojik altyapıyı anlamalarına yardımcı olur. Bu programlar, çocukların öğrenme sürecini eğlenceli hale getirerek, onları ilgili ve meraklı bir hale getirir.

                    </p>
                </div>
                <div>
                    <h3>
                        ROBOTİK DERS VERİMİ
                    </h3>
                    <p>
                        Sonuç olarak, Fanus Yazılım, robotik kodlama alanında lider bir şirkettir ve çocuklara geleceğin teknoloji liderleri olma yolunda rehberlik etmektedir. Eğitim programları, öğrencilerin yaratıcılıklarını ve problem çözme becerilerini geliştirirken, teknolojik altyapıyı anlamalarına da yardımcı olur. Fanus Yazılım'ın uzman öğretmenleri, öğrencilerin her zaman yanında yer alarak, eğitim sürecini daha verimli hale getirir.

                    </p>
                </div>
            </div>
            <div>
                <div>
                    <h3>ROBOTİK KODLAMA</h3>
                    <p>Günümüz teknolojisinin en önemli alanlarından biridir. Bu alanda eğitim almak, geleceğin teknoloji liderleri arasında yer almak isteyenler için oldukça önemlidir. Fanus Yazılım, çocuklara bu alanda eğitim vererek, geleceğin teknoloji liderlerini yetiştirmeyi hedeflemektedir.</p>
                </div>
                <div>
                    <h3>ROBOTİK BİLGİ</h3>
                    <p>Fanus Yazılım, her bir öğrencinin ihtiyaçlarına göre özelleştirilmiş bir eğitim planı sunar. Bu sayede, öğrencilerin öğrenme süreci daha hızlı ve verimli olur. Ayrıca, Fanus Yazılım'ın öğretmenleri, robotik kodlama alanında uzmanlaşmış kişilerdir ve öğrencilerin herhangi bir sorusu veya sorunu olduğunda yardımcı olacak niteliktedir.</p>
                </div>
                <div>
                    <h3>ROBOTİK KODLAMA</h3>
                    <p>Fanus yazılım olarak robotik kodlama dersleri ve eğitimleri vermekteyiz. ilkokul, ortaokul, lise çağındaki öğrencilerimize eğtim veriyoruz eğer siz de robotik kodlama eğtimlerine katılmak isterseniz bir yaş sınırımız bulunmamaktadır.</p>
                </div>
            </div>

        </div>

    </div>




