
@{
    ViewData["Title"] = "Tur";
    Layout = "~/Views/Shared/DigerSayfaLayout.cshtml";
}

<style>
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 eşit sütun */
        gap: 10px; /* Sütunlar arasında boşluk */
    }

        .grid-container div {
            padding: 20px;
            text-align: center;
        }

</style>




<div id="popular " style=" opacity: 1; position: relative;">
    <div>
        <h1>Hikayeci</h1>

        <div class="grid-container" style="color:#E0E0E0;">

            <div>
                <div>
                    <h3>FANUS YAZLIM SANAL TUR</h3>
                    <p>
                        Artık herkesin zamanı çok değerli ve her anını etkili bir şekilde kullanmak istiyor. Ancak, otobüs veya metro beklerken geçen süre, insanlar için boşa harcanan bir zaman olarak görülebilir. İşte tam burada Fanus Yazılım Hikayeci devreye giriyor. Hikayeci, otobüs veya metro beklerken insanların zamanını daha keyifli hale getirerek, boşa harcanan zamanı daha verimli hale getiriyor.

                    </p>
                </div>
                <div>
                    <h3>360 SANAL TUR HİZMETİ</h3>
                    <p>
                        Metro otobus kenarlarında kolayca erişebileceğiniz bir uygulama olarak sunulmaktadır. Bu sayede, otobüs veya metro bekleme sürelerinde her an hikaye okuyabilir ve zamanınızı daha etkili bir şekilde değerlendirebilirsiniz. Ayrıca, Fanus Yazılım Hikayeci'nin içerdiği hikayeler sürekli olarak güncellenmektedir, bu sayede her seferinde farklı bir hikaye okuyabilirsiniz.
                    </p>
                </div>
                <div>
                    <h3>
                        360 SANAL TURUN KATKILARI
                    </h3>
                    <p>
                        Metro ve ANKARAY’da kısa seyahatleri sırasında Ankaloji’lerden aldıkları yazılı eğitici bilgi notlarını ve hikayeleri okumaya başlayan 7’den 70’e tüm vatandaşlar, yeni uygulama ile ilgili düşüncelerini ise şu sözlerle ifade ettiler: -Sinem Atmaca: “Kesinlikle çok keyifli. Her yaş kesimine hitap etmesi çok güzel. Ben de edebiyat öğrencisiyim. Okumaya teşvik edici çok güzel bir uygulama olmuş.”
                    </p>
                </div>

            </div>
            <div>
                <div>
                    <h3>

                        360 SANAL TUR İŞLETME KATKILARI
                    </h3>
                    <p>Fanus Yazılım'ın web sitesi, mobil cihazlarla da uyumludur ve bu sayede kullanıcılar istedikleri her yerden firmayla iletişim kurabilirler.</p>
                </div>
                <div>
                    <h3>KAZANIM</h3>
                    <p>Sitenin arama motorlarına uyumlu yapısı, arama motorlarında daha yüksek bir sıralama elde etmeyi sağlar. Bu sayede, Fanus Yazılım'ın hizmetlerine erişmek isteyen potansiyel müşteriler daha kolay bir şekilde firmanın web sitesini bulabilirler.</p>
                </div>
                <div>
                    <h3>SANAL TUR</h3>
                    <p>Sonuç olarak, Fanus Yazılım'ın web sitesi, müşterilerinin işlerini geliştirmelerine yardımcı olacak özelleştirilmiş yazılım çözümleri sunarken, kullanıcı dostu bir arayüz ve mobil uyumluluk gibi özellikleri ile müşteri memnuniyetini de ön planda tutar.</p>
                </div>
                <div style="visibility:hidden">
                    a
                </div>
                <div style="visibility:hidden">
                    a
                </div>
                <div style="visibility:hidden">
                    a
                </div>
                <div style="visibility:hidden">
                    a
                </div>
                <div style="visibility:hidden">
                    a
                </div>
                <div style="visibility:hidden">
                    a
                </div>
                <div style="visibility:hidden">
                    a
                </div>


            </div>
            <div>

                <img src="/Yeniklasör/web.png" style="width:750px;height:700px;" />
            </div>

        </div>

    </div>


