
@{
    ViewData["Title"] = "Website";
    Layout = "~/Views/Shared/DigerSayfaLayout.cshtml";
}

<style>
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 eşit sütun */
        gap: 10px; /* Sütunlar arasında boşluk */
    }

        .grid-container div {
            padding: 20px;
            text-align: center;
        }

</style>




<div id="popular " style=" opacity: 1; position: relative;">
    <div>
        <h1>İçerikler</h1>

        <div class="grid-container" style="color:#E0E0E0;">

            <div>
                <div>
                    <h3>FANUS YAZLIM</h3>
                    <p>
                        Fanus Yazılım, Bursa'da bulunan bir yazılım şirketidir. Firma, işletmelerin ve kurumların dijital dönüşüm yolculuğunu kolaylaştırmak için gelişmiş teknolojileri kullanarak benzersiz yazılım çözümleri sunar.

                    </p>
                </div>
                <div>
                    <h3>İŞLEVİ</h3>
                    <p>
                        Fanus Yazılım'ın uzman yazılım mühendisleri, müşterilerinin ihtiyaçlarını anlar ve özelleştirilmiş yazılım çözümleri sunarlar. Bu sayede, müşterilerin iş süreçlerini optimize ederek daha verimli, etkili ve karlı hale getirirler.

                    </p>
                </div>
                <div>
                    <h3>
                        BİLGİ
                    </h3>
                    <p>
                        Fanus Yazılım'ın web sitesi, kullanıcı dostu bir arayüze sahiptir ve kullanıcı deneyimini ön planda tutar. Sitede, firma hakkında detaylı bilgi, ürün ve hizmetler, referanslar, müşteri yorumları gibi bilgilere kolayca erişilebilir. Ayrıca, firmanın hizmetleri hakkında bilgi almak ve teklif almak isteyen müşteriler için iletişim formu da mevcuttur.
                    </p>
                </div>
                
            </div>
            <div>
                <div>
                    <h3>WEB SİTESİ</h3>
                    <p>Fanus Yazılım'ın web sitesi, mobil cihazlarla da uyumludur ve bu sayede kullanıcılar istedikleri her yerden firmayla iletişim kurabilirler.</p>
                </div>
                <div>
                    <h3>WEB SİTESİ İLETİŞİM KOLAYLIĞI</h3>
                    <p>Sitenin arama motorlarına uyumlu yapısı, arama motorlarında daha yüksek bir sıralama elde etmeyi sağlar. Bu sayede, Fanus Yazılım'ın hizmetlerine erişmek isteyen potansiyel müşteriler daha kolay bir şekilde firmanın web sitesini bulabilirler.</p>
                </div>
                <div>
                    <h3>WEB SİTESİ SONUÇ</h3>
                    <p>Sonuç olarak, Fanus Yazılım'ın web sitesi, müşterilerinin işlerini geliştirmelerine yardımcı olacak özelleştirilmiş yazılım çözümleri sunarken, kullanıcı dostu bir arayüz ve mobil uyumluluk gibi özellikleri ile müşteri memnuniyetini de ön planda tutar.</p>
                </div>
                <div style="visibility:hidden">
                    a
                </div>
                <div style="visibility:hidden">
                    a
                </div>
                <div style="visibility:hidden">
                    a
                </div>
                <div style="visibility:hidden">
                    a
                </div>
                <div style="visibility:hidden">
                    a
                </div>
                <div style="visibility:hidden">
                    a
                </div>
                <div style="visibility:hidden">
                    a
                </div>
              
               
            </div>
            <div>

                <img src="/Yeniklasör/web.png" style="width:750px;height:700px;" />
            </div>

        </div>

    </div>




