<style>
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 3 eşit sütun */
        gap: 10px; /* Sütunlar arasında boşluk */
    }

        .grid-container div {
            padding: 20px;
            text-align: center;
        }

</style>




<div id="popular" ">
    <div id="yorum">

        <div style="color:#E0E0E0;padding:20px;opacity: 1; position: relative;border-top:5px solid black">
            <h1 style="text-align:center;">Yorumlar</h1>
            <div class="grid-container">


                <div>
                    <p>  21 Ocak 2022</p>
                    <h4>

                        Keşfetmek için hazır mısın? Fanus Yazılım'ın 360 sanal tur hizmeti ile mekanları dijital dünyada keşfet! "Fanus Yazılım ile mekanları 360 derece keşfedin, yeni deneyimlere açılın!
                    </h4>
                    <p>
                        Fanus Yazılım, müşterilerine sunduğu hizmetlerle teknoloji alanında fark yaratan bir yazılım şirketidir. Bu hizmetlerden biri de, 360 sanal tur hizmetidir. Fanus Yazılım'ın 360 sanal tur hizmeti, işletmelerin müşterilerine yenilikçi bir deneyim sunmalarını sağlar.


                    </p>
                </div>

                <div>
                    <p>   2 Mart 2023</p>
                    <h4>

                        Yükseklerden bakın, farkı görün. Drone teknolojileri ile işinizi yükseltin
                    </h4>
                    <p>
                        Fanus Yazılım, drone teknolojileri alanında faaliyet göstererek müşterilerine gelişmiş ve yenilikçi hizmetler sunmaktadır. Dron teknolojileri, birçok farklı sektörde kullanılabildiği gibi özellikle eğitim alanında da oldukça faydalıdır. Fanus Yazılım, drone eğitimleri konusunda da uzmanlaşmıştır ve müşterilerine kaliteli ve güvenilir eğitimler sunmaktadır.

                    </p>
                </div>

                <div>
                    <p>  10 Mart 2023</p>
                    <h4>

                        Güvenli alışverişin adresi: Fanus Yazılım e-ticaret!" "Fanus Yazılım e-ticaret platformu: Kolayca keşfedin, güvenle alışveriş yapın!"
                    </h4>
                    <p>
                        E-ticaret, günümüzde artan internet kullanımıyla birlikte giderek daha popüler hale gelen bir alışveriş yöntemidir. Fanus Yazılım, müşterilerine e-ticaret platformu sağlayarak güvenli ve kolay bir alışveriş deneyimi sunar.

                    </p>
                </div>

                <div>
                    <p>  14 Nisan 2022</p>
                    <h4>

                        Fanus Yazılım Hikayeci: Otobüs ve Metro Beklerken Keyifli Bir Dünya
                    </h4>
                    <p>
                        Fanus Yazılım Hikayeci, Bursa merkezli bir yazılım şirketi olan Fanus Yazılım'ın yeni bir ürünüdür. Hikayeci, otobüs ve metro bekleme sürelerini daha keyifli hale getirerek, insanların zamandan tasarruf etmelerini sağlar.



                    </p>
                </div>
                <div>
                    <p>  19 Kasım 2022</p>
                    <h4>

                        Fanus Yazılım ile geleceğe şehirlerimizi tasarlayalım. Fanus Yazılım, şehircilik ve imarın geleceği için burada.
                    </h4>
                    <p>
                        FANUS YAZILIM, imar ve şehircilik alanlarında dijital çözümler sunarak sektörde öncü firmalar arasında yer alıyor. Şehir planlaması, çevre düzenlemesi, kentsel dönüşüm ve benzeri projeler için özel olarak tasarlanmış yazılım ve uygulamaları ile müşterilerine özelleştirilmiş hizmetler sunuyor.



                    </p>
                </div>
                <div>
                    <p>  25 Mayıs 2022</p>
                    <h4>

                        İşinizi mobil hale getirin, Fanus Yazılım'la her an her yerde yanınızdayız!
                    </h4>
                    <p>
                        Fanus Yazılım, son yılların en popüler teknolojilerinden biri olan mobil uygulama geliştirme alanında da etkin bir şekilde çalışmalarını sürdürmektedir. Mobil cihazların kullanımının hızla artması ve insanların neredeyse her işlerini mobil cihazları üzerinden yapması, mobil uygulamaların önemini arttırmaktadır.



                    </p>
                </div>


            </div>
        </div>



    </div>


</div>



