
@{
    ViewData["Title"] = "ZamanMakinası";
    Layout = "~/Views/Shared/DigerSayfaLayout.cshtml";
}

<style>
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 eşit sütun */
        gap: 10px; /* Sütunlar arasında boşluk */
    }

        .grid-container div {
            padding: 20px;
            text-align: center;
        }

</style>



<div id="popular " style=" opacity: 1; position: relative;">
    <div id="hikayeci">


        <div class="grid-container" style="color:#E0E0E0">
            <div>

                <img src="/Yeniklasör/asdasd.png" style="height:1050px;" />
            </div>
            <div>
                <div>
                    <h3>ZAMAN MAKİNESİ</h3>
                    <p>
                        Fanus Yazılım, oyun programlama alanında da faaliyet gösteren bir yazılım şirketidir. Oyun sektöründeki deneyimli ekibi sayesinde müşterilerine yüksek kaliteli ve eğlenceli oyunlar sunmaktadır.
                    </p>
                </div>
                <div>
                    <h3>ZAMAN MAKİNESİ ÖRENKLER</h3>
                    <p>
                        Oyunların grafik tasarımı, karakter ve dünya tasarımı, programlama ve test aşamaları tümüyle şirketin uzman ekibi tarafından yürütülmektedir.

                    </p>
                </div>
             
            </div>
            <div>
                <div>
                    <h3>
                        ZAMAN MAKİNESİ ULAŞABİLİRLİK
                    </h3>

                    <p>Fanus Yazılım'ın oyun programlama hizmetleri, müşterilerinin ihtiyaçlarına uygun olarak özelleştirilebilir ve oyun geliştirme sürecinin her aşamasında müşteriyle yakın bir iş birliği içinde olunur.</p>
                </div>
                <div>
                    <h3>
                        ZAMANDA YOLCULUK
                    </h3>
                    <p>
                        Fanus Yazılım ve uzman ekibiyle, kolay kullanıma sahip şık bir arayüzle hayal ettiğiniz oyunları geliştirebilir veya size nasıl yapacağınızı öğretebiliriz. Hayalleriniz artık çok uzakta değil. Oyun programlamayla ilgili ihtiyaçlarınızı karşılamak için buradayız.
                    </p>
                </div>
                <div style="visibility:hidden">
                    a
                </div>
                <div style="visibility:hidden">
                    a
                </div>
                <div style="visibility:hidden">
                    a
                </div>
                <div style="visibility:hidden">
                    a
                </div>
                <div style="visibility:hidden">
                    a
                </div>
                <div style="visibility:hidden">
                    a
                </div>
                <div style="visibility:hidden">
                    a
                </div>
                <div style="visibility:hidden">
                    a
                </div>
                <div style="visibility:hidden">
                    a
                </div>
                <div style="visibility:hidden">
                    a
                </div>
                <div style="visibility:hidden">
                    a
                </div>
                  <div style="visibility:hidden">
                    a
                </div>
              

            </div>

        </div>

    </div>




