<style>
   

    .footer-page {
        padding: 50px;
        font-size: 25px;
        color: white; 
    }

    footer{
    }
</style>

<footer>
    <div class="w3layouts-agile-copyrightbottom footer-page">
        <p class="">
            © 2024 Asp.Net Core. Tüm Hakları Saklıdır. | Design by <a href="http://w3layouts.com/">W3layouts</a>
        </p>
    </div>
</footer>
